{
  "extends": ["democracyos"],
  "rules": {
    "no-undef": [1]
  },
  "globals": {
    "location",
    "FileReader"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "."
        ]
      }
    }
  }
}
