.list
  margin 10px auto
  .loading-spinner
    background-image unquote('url("https://www.alyt.com/frontend/img/spinner.gif")')
    background-size 25px 25px
    background-position right center
    background-repeat no-repeat

  .search
  	border-radius 3px

  .input-group-addon, .input-group-btn
    width auto
  .dropdown-toggle::after
    display none
  .dropdown-toggle
    border-color rgba(0,0,0,.15)
  .dropdown-header
    color #999
    text-transform uppercase
    font-size 75%
    font-weight bold
