#forums-wrapper
  .well
    > *
      margin-top 4px
      margin-bottom 4px
  .forum-name
    color #666666

#forum-wrapper
  .form-horizontal
    label.control-label.text-left
      text-align left
    .form-group.actions
      margin-top 15px

  @import '../../forum/topicsAttrs/styles'

.subdomain
  .input-group-addon
    .mobile
      display none

    @media screen and (max-width: 450px)
      .desktop
        display none

      .mobile
        display inline
.form-messages
  .msg
    color darken(#27ae60, 50%)
    border-color #27ae60
    background-color lighten(#27ae60, 70%)
    padding: 20px 0px 20px 35px
    width: 40%
    border-radius: 8px
    list-style-type: none
    margin: auto
#creationReason    
  height 100px
  resize none    