#forums-wrapper.content-wrapper
  form(action=form.action, method='post', role='form', autocomplete='off', autovalidate='autovalidate', autosubmit='autosubmit')
    .form-group
      .input-group
        span.input-group-addon
          i.glyphicon.glyphicon-search
        input.form-control.search(type='text', maxlength='50' placeholder=t('forum.list.search.placeholder'), autofocus)
        span.input-group-btn
          - if (user.privileges.canCreate)
            a.btn.btn-success(href=urlBuilder.for('system.forums.create'), title=t('system.list.add'))
              i.glyphicon.glyphicon-plus
          //- - if (config.generatorEnabled)
          //-   button.btn.btn-info(type='submit',name='ipsum')
          //-   i.glyphicon.glyphicon-flash
    ul.form-messages
  .list.list-group
  
