section.featured
  display flex
  flex-wrap wrap
  justify-content center

  &.loading
    min-height 60px
    .loader-wrapper .topic-loader
      top: 15px

  .featured-card
    display block
    margin 15px
    width 40vw
    height 20vw
    box-shadow 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24)
    overflow hidden
    color inherit
    // transition all .3s unquote('cubic-bezier(.25,.8,.25,1)')
    background-color #fff
    position relative

    // &:hover
    //   box-shadow 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23)
