section.featured
  display flex
  flex-wrap wrap
  justify-content center

  &.loading
    min-height 60px
    .loader-wrapper .topic-loader
      top: 15px

  .featured-card
    display block
    position relative
    margin 15px
    padding 15px 35px
    width 45vw
    height 20vw
    overflow hidden

    .carousel
      padding 15px 90px
      .carousel-control
        background transparent
        color black
      .carousel-indicators
        bottom -30px
        li
          color rgba(0,0,0,.6)
          border-color rgba(0,0,0,.6)
          &.active
            border-color rgba(0,0,0,.2)
            background-color rgba(0,0,0,.6)

    @import '../../topic-layout/topic-article/comments/list/comment/styles'

    .carousel .comments-list-item
      margin 5px
