extends ../../layout/index.jade

block styles
  //- Application Styles
  link(rel='stylesheet', href='/settings.css')
  
block content
  section#content.site-content
  
block scripts
  script(src='/settings.js')
