.users-form-control
  max-height 34px
  overflow-y visible
  z-index 2

.search-results
  z-index 2
  margin-bottom 0

  .list-group-item
    z-index 2
    padding 0
    font-size .85em

    &.empty
      padding 5px 15px
      font-size 70%
      font-weight bold
      color #666

    &:focus, &:focus:active
      border-left-color #66afe9
      border-right-color #66afe9
      outline 0
      box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)
      z-index 3

      &:last-child
        border-bottom-color #66afe9

  .media-left > img
    max-width 43px
    height 43px

.searching
  .input-group .form-control:first-child,
  .input-group-addon:first-child,
  .input-group-btn:first-child>.btn,
  .input-group-btn:first-child>.btn-group>.btn,
  .input-group-btn:first-child>.dropdown-toggle,
  .input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
  .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle)
    border-bottom-left-radius 0

  .input-group .form-control:last-child,
  .input-group-addon:last-child,
  .input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
  .input-group-btn:first-child>.btn:not(:first-child),
  .input-group-btn:last-child>.btn,
  .input-group-btn:last-child>.btn-group>.btn,
  .input-group-btn:last-child>.dropdown-toggle
    border-bottom-right-radius 0

  .list-group-item
    border-top-left-radius 0
    border-top-right-radius 0
    &:first-child
      border-top none
