#general-wrapper
  .form-group
    min-height 35px

    span.error
      top 40px
    label.text-left
      text-align left

    &.actions
      margin-top 15px
      
  #creationReason
    height 100px
    resize none

  @import '../../forum/topicsAttrs/styles'
