#general-wrapper
  .form-group
    min-height 35px

    span.error
      top 40px
    label.text-left
      text-align left

    &.actions
      margin-top 15px
  .commands
      width 70%
      padding-left 35%  

  @import '../../forum/topicsAttrs/styles'
