#general-wrapper
  .form-group
    min-height 35px

    span.error
      top 40px
    label.text-left
      text-align left

    &.topicsAttrs
      padding-top 3px
      margin-bottom 3px
      & > label
        padding-top 6px

    &.actions
      margin-top 15px
