#profile-wrapper
  form
    .form-group
      span.error
        top: 40px

  .profile-picture
    margin-bottom: 12px

    img
      border-radius: 2px
      width: 65px
      align-items: center
      margin: 5px auto
