#profile-wrapper
  form
    .form-group
      span.error
        top: 40px

  .profile-picture
    margin-bottom: 12px

    .profile-picture-form
      display: flex
      flex-direction: column
      align-items: center

    .image-container
      width: 65px
      margin: 5px auto 15px

      img
        border-radius: 2px

    .controls
      flex-grow: 2
