.comments-sort
  z-index: 8
  margin-bottom 15px

  .nav-tabs, .nav-pills
    &>li>a
      font-size: .8em
      font-weight normal
      // padding: 0 10px 0 0
      text-transform: capitalize

  .nav-pills
    &>li>a
      color #666
    &>li.active>a
      background-color white
      color rgba(0,0,0,0.8)
      font-weight bold
      box-shadow:
        0 1px 3px rgba(0,0,0,.12),
        0 1px 2px rgba(0,0,0,.24)

  .comments-sort-btn

  .caret
    right: 0
    color: inherit

  .comments-dropdown
    top: 20px
