.attrs-wrapper
  padding: 0 0 .6em

  legend
    margin-bottom: .5em

  .kind-boolean
    & > label
      font-size: 1em

    .attrs-title
      font-size: .875em
      font-weight: bold
      line-height: 1.8
